* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/grey.png');
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: rgb(245, 245, 245);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
    border: 1px solid #454d55;
    padding: 0;
}

.main-container > header {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.main-container > header > .logo {
    font-size: 1.6rem;
    padding: 1rem;
    width: 60px;
    height: 60px;
}

.d-flex button {
    margin: 1.5em 0.5em;
    /* padding: 0.3em 1.4em; */
}

.success {
    background-color: rgb(144, 238, 144);
    padding: 1em;
}

.error {
    background-color: rgb(255, 99, 71);
    padding: 1em;
}

.td-price:before {
    content: "€ ";
}

.input-group-text > i.fa, i.fas {
    width: 16px;
}

.table {
    margin: 0;
    border-collapse: separate;
}

.btn-hide {
    display: none;
    visibility: hidden;
}

.modal-dialog {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}
